<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- LOCATION AND DELIVERY TIME -->
  <ion-grid>
  <!-- TITLE LOCATION -->
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h4 style="font-weight: bold; margin-top: 5px;">Reguenga, Santo Tirso</h4>
      </ion-text>
    </ion-col>
  </ion-row>

  <!-- DELIVERY TIME -->
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h6 style="font-weight: lighter; font-size: 80%; margin-top: -5px; color: #A1A1A1;">Tempo de Entrega: 10 a 20 minutos</h6>
      </ion-text>
    </ion-col>
  </ion-row>
  </ion-grid>

  <!-- ADDRESS AND DELIVERY NOTE -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 90%;">4725-155 - Rua da minha Casa, n.99</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h6 style="margin-top: -10px; font-weight: lighter; font-size: 75%; color: #A1A1A1;">Adicionar uma nota de entrega...</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ORDER -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 90%;">Seu pedido</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-text>
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">1x</h6>
        </ion-text>
      </ion-col>

      <ion-col size="7">
        <ion-text>
          <h6 style="font-weight: lighter; font-size: 80%; margin-top: -10px;">Crispy Chicken</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">1,00€</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h6 style="font-weight: lighter; color: #A1A1A1; font-size: 80%; margin-top: -10px; margin-bottom: 15px;">Adicionar uma nota (sem cebola, extra queijo...)</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-text>
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">1x</h6>
        </ion-text>
      </ion-col>

      <ion-col size="7">
        <ion-text>
          <h6 style="font-weight: lighter; font-size: 80%; margin-top: -10px;">Big King</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">2,00€</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h6 style="font-weight: lighter; color: #A1A1A1; font-size: 80%; margin-top: -10px; margin-bottom: 15px;">Adicionar uma nota (sem cebola, extra queijo...)</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <ion-text>
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">1x</h6>
        </ion-text>
      </ion-col>

      <ion-col size="7">
        <ion-text>
          <h6 style="font-weight: lighter; font-size: 80%; margin-top: -10px;">SteakHouse</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">5,99€</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h6 style="font-weight: lighter; color: #A1A1A1; font-size: 80%; margin-top: -10px;">Adicionar uma nota (sem cebola, extra queijo...)</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- SUBTOTAL, DELIVERY FEE AND DISCOUNT -->
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 90%;">Subtotal</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%;">9,99€</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 90%; margin-top: -10px;">Taxa de Entrega</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 80%; margin-top: -10px;">2,00€</h6>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 90%; margin-top: -10px;">Desconto</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #EB001B; font-size: 80%; margin-top: -10px;">0,00€</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- TOTAL -->
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-text>
          <h6 style="font-weight: bold; font-size: 100%;">Total</h6>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-text class="ion-text-end">
          <h6 style="font-weight: bold; color: #57B709; font-size: 100%;">10,99€</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- BUTTON "Finalizar pedido" -->
  <ion-button color="primary" expand="block">
    <ion-icon slot="start" name="checkmark-outline"></ion-icon>Finalizar Pedido
  </ion-button>
</ion-content>
